.features-tiles-item-image {
	display: inline-flex;
	border-radius: 50%;
    background: linear-gradient(0deg, get-color(primary, 1) 0, get-color(primary, 2) 100%);
    box-shadow: 0 2px 4px rgba(get-color(dark, 1), .12);    
}