.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1rem 2rem;
}

.header .title {
  max-width: 25rem;
  text-align: left;
  margin: 0 1rem;
  line-height: 1.15;
  font-size: 2rem;
}

.header .h1 {
  display: flex;
  align-items: center;
}

.header .stats {
  text-align: right;
  font-size: 1.2rem;
}

.header .stats h2 {
  margin: 0;
  font-size: 2rem;
}
