.open-source {
  li {
    text-align: left;
  }
}

#documentantion {
  .description {
    padding-bottom: 80px;
  }
}

@include media('<medium') {
  #documentantion {
    .description {
      padding-bottom: 48px;
    }
  }
}
