#protocol {
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    .column {
      width: 40%;
    }
  }
}

@include media('<large') {
  #protocol {
    .container {
      flex-direction: column;

      .column {
        width: 100%;
      }
    }
  }
}

.centered-list {
  width: 50%;
  text-align: left;
  margin: auto;
  font-weight: bold;
  color: $hopr_bright_blue;
}

@include media('<medium') {
  .centered-list {
    width: 100%;
    text-align: left;
    margin: auto;
  }
}
