.token {
  .iframe-container {
    padding-left: 20%;
    padding-right: 20%;
  }

  .mj-w-res-iframe {
    width: 100%;
    height: 350px;
    text-align: center;
  }
}

@include media('<medium') {
  .token {
    .iframe-container {
      padding-left: 0;
      padding-right: 0;
    }

    .mj-w-res-iframe {
      min-width: 300px;
      text-align: center;
    }
  }
}
