// The color palette
$palette: (
  light: (
    1: #ffffff,
    2: #f9fafc,
    3: #e9ecf8,
  ),
  dark: (
    1: #003a4b,
    2: #164856,
    3: #e9ecf8,
  ),
  primary: (
    1: #005a73,
    2: #53a3b9,
    3: #2e9ab9,
    4: #e9ecf8,
  ),
  secondary: (
    1: #e9ecf8,
    2: #2e9ab9,
    3: #53a3b9,
    4: #005a73,
  ),
  alert: (
    error: #ff6f66,
    warning: #ffcd6e,
    success: #2e9ab9,
  ),
);

@import './style.scss';
