// blogs tabs (core/sections/_blogs-tabs.scss) ---------
$blogs-tabs--padding-t__mobile: null; // blogs tabs, top padding (mobile)
$blogs-tabs--padding-b__mobile: null; // blogs tabs, bottom padding (mobile)
$blogs-tabs--padding-t__desktop: null; // blogs tabs, top padding (desktop)
$blogs-tabs--padding-b__desktop: null; // blogs tabs, bottom padding (desktop)
$blogs-tabs-header--padding__mobile: null; // blogs tabs header, bottom padding (mobile)
$blogs-tabs-header--padding__desktop: null; // blogs tabs header, bottom padding (desktop)
$blogs-tabs-list--padding-b: 48px; // tabs list, bottom padding
$blogs-tabs-item--padding-h: 16px; // tabs item, left and right padding
$blogs-tabs-item--padding-v: 10px; // tabs item, top and bottom padding
$blogs-tabs-panel--padding-h: 0; // tabs panel, left and right padding
$blogs-tabs-panel--padding-v: 0; // tabs panel, top and bottom padding
