// Clients (core/sections/_clients.scss)
$clients--padding-t__mobile: 26px; // clients, top padding (mobile)
$clients--padding-b__mobile: 26px; // clients, bottom padding (mobile)
$clients--padding-t__desktop: null; // clients, top padding (desktop)
$clients--padding-b__desktop: null; // clients, bottom padding (desktop)
$clients-header--padding__mobile: null; // clients header, bottom padding (mobile)
$clients-header--padding__desktop: null; // clients header, bottom padding (desktop)
$clients-items--padding-v: 12px; // clients item, inner top and bottom padding
$clients-items--padding-h: 28px; // clients item, inner left and right padding
