// Investors (core/sections/_investors.scss)
$investors--padding-t__mobile: 26px; // investors, top padding (mobile)
$investors--padding-b__mobile: 26px; // investors, bottom padding (mobile)
$investors--padding-t__desktop: null; // investors, top padding (desktop)
$investors--padding-b__desktop: null; // investors, bottom padding (desktop)
$investors-header--padding__mobile: null; // investors header, bottom padding (mobile)
$investors-header--padding__desktop: null; // investors header, bottom padding (desktop)
$investors-items--padding-v: 12px; // investors item, inner top and bottom padding
$investors-items--padding-h: 28px; // investors item, inner left and right padding
