watch_file flake.nix
watch_file flake.lock
mkdir -p .direnv
if nix print-dev-env 2> /dev/null; then
	eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
else
	if [ "${IN_NIX_SHELL}" = "" ]; then
		nix-shell
	fi
fi
