# Exclude node.js module directory
node_modules/

# Exclude IDE stuff
.vscode/

# Exclude solidity builds
build/contracts/

# Exclude typechain builds
types/truffle-contracts

# Exclude tsc migrations builds
migrations/**/*.js*

# Coverage directory used by tools like istanbul
coverage
coverage.json
coverageEnv

# Exclude runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# Exclude truffle-config secrets
truffle-secrets.json