.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--hopr-white);
  background-color: var(--hopr-dark-blue);
  height: 10vh;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo > img {
  width: 25px;
  margin-left: 10px;
}
