@import './utils/breakpoints.scss';

/* HOPR palette */
:root {
  --hopr-white: white;
  --hopr-grey: #414141;
  --hopr-dark-blue: #000050;
  --hopr-steel-blue: #3c64a5;
  --hopr-bright-blue: #0000b4;
  --hopr-sky-blue: #b4f0ff;
  --hopr-yellow: #ffffa0;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  padding: 0px 5px 0px 5px;

  @include md {
    padding: 0px 20px 0px 20px;
  }
}

.clickable {
  cursor: pointer;
}

.img-to-white {
  filter: invert(1);
}
