@import './utils/breakpoints.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--hopr-white);
  background-color: var(--hopr-dark-blue);
  height: 10vh;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo > h1 {
  font-size: 1rem;
}

.address {
  display: none;

  @include md {
    display: initial;
  }
}

.cogwheel {
  font-size: 30px;
}
