.order_circle {
  display: flex;
  background-color: $hopr_bright_blue;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  text-align: center;
  color: $hopr_white;
  align-items: center;
  justify-content: center;
}
