*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.bbl
*.blg
*.synctex.gz
*.synctex(busy)
*.xdv

# SVG builds
svg-inkscape/

# Built PDF files
*.pdf
!yellowpaper.pdf
!images/*.pdf

# temp latex files
**/__latexindent_temp.tex
*.bcf
*.xml