black==23.3.0
pytest==7.2.1
pytest-asyncio==0.21.0
requests==2.28.2
rlp==3.0.0
ruff==0.0.261
waiting==1.4.1
websocket-client==1.5.1
websockets==11.0.1
hoprd-sdk @ git+https://github.com/hoprnet/hoprd-sdk-python@kauki/2.1.0-rc.3-updates
