contracts/cache/
contracts/out/
contracts/build-info

# Ignore Environment Variables!
.env
.env.prod

# Ignore all vscode settings
.vscode/

# temporary files
test.txt

# braadcast files
# ignore local files
contracts/broadcast/*.*/*/*
!contracts/broadcast/*.*/*/run-latest.json
contracts/broadcast/*.*/31337

target/

# ignore coverage test outpout
contracts/lcov.info
contracts/report

# Ignore generated bindings source files
bindings/src/codegen/

# Prevent automatically editted foundry.toml
# from being committed.
# To change the Solidity version:
#   1. comment next line
#   2. alter the solc entry
#   3. commit the new version
#   4. uncomment next line
#   5. commit new .gitignore
contracts/foundry.toml
