$hopr_white: white;
$hopr_grey: #414141;
$hopr_dark_blue: #000050;
$hopr_steel_blue: #3c64a5;
$hopr_bright_blue: #0000b4;
$hopr_sky_blue: #b4f0ff;
$hopr_yellow: #ffffa0;

// The color palette
$palette: (
  light: (
    1: $hopr_white,
    2: $hopr_grey,
    3: $hopr_grey,
  ),
  dark: (
    1: $hopr_yellow,
    2: $hopr_grey,
    3: $hopr_grey,
  ),
  primary: (
    1: $hopr_dark_blue,
    2: #53a3b9,
    3: #2e9ab9,
    4: #e9ecf8,
  ),
  secondary: (
    1: #e9ecf8,
    2: #2e9ab9,
    3: #53a3b9,
    4: #005a73,
  ),
  alert: (
    error: #ff6f66,
    warning: #ffcd6e,
    success: #2e9ab9,
  ),
);

@import './style.scss';
