.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container > .message {
  margin-top: 10px;
}

.container > .message:last-child {
  margin-bottom: 10px;
}

.message {
  background-color: var(--hopr-yellow);
  border-radius: 10px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  max-width: 30%;
  word-break: break-all;
  text-overflow: ellipsis;
}

.send {
  align-self: flex-start;
}

.received {
  background-color: var(--hopr-sky-blue);
  align-self: flex-end;
}
