@import '../utils/breakpoints.scss';

.container {
  display: flex;
  color: var(--hopr-grey);
  background-color: var(--hopr-white);
  height: 80vh;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}
