// Colors

// Base typography: color
$color: (
  heading: get-color(dark, 2),
  base: get-color(dark, 2),
  high-contrast: $hopr_bright_blue,
  mid-contrast: $hopr_steel_blue,
  low-contrast: $hopr_sky_blue,
  primary: $hopr_white,
  secondary: $hopr_white,
  error: get-color(alert, error),
  warning: get-color(alert, warning),
  success: get-color(alert, success),
  // ↓ Inverted colors
  heading-inverse: get-color(light, 2),
  base-inverse: get-color(dark, 2),
  high-contrast-inverse: $hopr_bright_blue,
  mid-contrast-inverse: $hopr_steel_blue,
  low-contrast-inverse: $hopr_sky_blue,
);

// Borders and dividers: color
$border--color: (
  divider: get-color(light, 3),
  divider-inverse: rgba(get-color(dark, 2), 0.24),
);

// Icons: fill color
$icon--color: (
  hamburger: get-color(dark, 2),
  // hamburger icon
  accordion: get-color(primary, 1),
  // accordion icon
  social: $hopr_white,
  // social icons
  social-hover: $hopr_white,
  // social icons (:hover)
  modal: get-color(dark, 3),
  // modal icon
  modal-hover: get-color(dark, 2),
  // modal icon (:hover)
  news-more: get-color(primary, 2),
  // news - read more link arrow
  // ↓ Inverted colors
  hamburger-inverse: get-color(light, 2),
  // hamburger icon
  accordion-inverse: get-color(light, 2),
  // accordion icon
  social-inverse: $hopr_dark_blue,
  // social icons
  social-hover-inverse: $hopr_dark_blue,
  // social icons (:hover)
);

// Misc elements: background color
$bg--color: (
  body: get-color(light, 1),
  body-shadow: 0 20px 48px rgba(get-color(dark, 1), 0.1),
  // body shadow when a boxed layout is used (set to null if don't want a shadow)
  body-outer: get-color(light, 2),
  // outer bg color when a boxed layout is used
  bg-color: get-color(dark, 1),
  // .has-bg-color helper class
  shadow: 0 12px 32px rgba(get-color(dark, 1), 0.24),
  // .has-shadow helper class
  code: get-color(light, 2),
  code-inverse: darken(get-color(dark, 1), 3%),
);
