.node-hero-features-tiles-container {
  display: flex;
  flex-direction: row;

  @include media('<medium') {
    flex-direction: column;
  }
}

.node-hero-features-tiles-container > div {
  flex: 1;
}
