#notfound {
  min-height: 80vh;

  .section-inner {
    display: flex;
    @include media('<medium') {
      flex-direction: column;
    }

    .textContainer {
      flex: 1;
    }

    .circleContainer {
      flex: 0.5;
      @include media('<medium') {
        margin-top: 24px;
      }

      .circle {
        background-color: white;
        width: 200px;
        height: 200px;
        border-radius: 100px;
      }
    }
  }
}
