.teamAndInvestors-tiles-inner {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.teamAndInvestors-tiles-inner .card {
  padding: 30px;
  margin: 10px;
  border-radius: 15px;
  background-color: $hopr_dark_blue;
}

.teamAndInvestors-tiles-inner .card:hover {
  background-color: $hopr_dark_blue;
}

@include media('<medium') {
  .teamAndInvestors-tiles-inner {
    flex-direction: column;
  }
}
