// Accordion (core/elements/_accordion.scss)
$accordion-item--padding-v: 	24px;		// accordion item, top and bottom padding
$accordion-item--padding-h: 	null;		// accordion item, left and right padding
$accordion-icon--size: 			16px;		// accordion icon, width and height
$accordion-icon--thickness: 	2px;		// accordion icon, stroke width
$accordion-icon--radius: 		null;		// accordion icon, lines radius cap
