.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  text-align: center;
  padding: 1rem 0;
  color: white;
  margin-top: 3rem;
  background: linear-gradient(#000050, #0000b4);
}

.footer a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.handles {
  display: flex;
  justify-content: center;
}

.handles img {
  width: 20px;
  margin: 0px 10px 0px 10px;
  filter: invert(1);
}
