// contact tabs (core/sections/_contact-tabs.scss) ---------
$contact-tabs--padding-t__mobile: null; // contact tabs, top padding (mobile)
$contact-tabs--padding-b__mobile: null; // contact tabs, bottom padding (mobile)
$contact-tabs--padding-t__desktop: null; // contact tabs, top padding (desktop)
$contact-tabs--padding-b__desktop: null; // contact tabs, bottom padding (desktop)
$contact-tabs-header--padding__mobile: null; // contact tabs header, bottom padding (mobile)
$contact-tabs-header--padding__desktop: null; // contact tabs header, bottom padding (desktop)
$contact-tabs-list--padding-b: 48px; // tabs list, bottom padding
$contact-tabs-item--padding-h: 16px; // tabs item, left and right padding
$contact-tabs-item--padding-v: 10px; // tabs item, top and bottom padding
$contact-tabs-panel--padding-h: 0; // tabs panel, left and right padding
$contact-tabs-panel--padding-v: 0; // tabs panel, top and bottom padding
