.ecosystem {
  .cards {
    .cards-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .cards-container > div {
      width: 48%;
      min-width: 350px;
      height: 400px;
      border-radius: 60px;
    }

    .cards-container {
      .features-tiles-item-content,
      .features-tiles-item-header {
        h4 {
          color: white !important;
        }

        color: white !important;
      }
    }
  }

  .personal {
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cards-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .cards-container > div {
      width: 28%;
      min-width: 260px;
      height: 300px;
      border-radius: 60px;
      padding: 20px;
    }
  }

  .professional {
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cards-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .cards-container > div {
      width: 28%;
      min-width: 260px;
      height: 300px;
      border-radius: 60px;
      padding: 20px;
    }

    .blogs-tabs-inner {
      display: flex;
      flex-direction: column;
    }

    .tab {
      justify-content: flex-start;
    }

    .blogs-tabs-inner p {
      white-space: initial;
    }
  }
}
