.sedimentum {
  .container {
    display: flex;
    text-align: left;
    flex-direction: column !important;
  }

  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .contact-container > div {
    img {
      border-radius: 15px;
    }
  }

  @include media('<large') {
    .contact-container {
      flex-direction: column;
    }

    .contact-container > div {
      margin-bottom: 100px;
    }
  }
}
