#### HOPRD Configuration ####

# The password used to authenticate your identity file
HOPRD_PASSWORD=

# The Token used to authenticate API requests
HOPRD_API_TOKEN=

# User and password to access Prometheus Pushgateway.
METRICS_PUSH_KEY=
