HOPRD_CONTAINER_IMAGE=europe-west3-docker.pkg.dev/hoprassociation/docker-images/hoprd:latest

HOPRD_MEM_REQUEST=1g
HOPRD_MEM_LIMIT=2g

HOPRD_API_PORT=3001
HOPRD_P2P_PORT=9001

HOPRD_LOG_LEVEL=info

HOPRD_LOG_MAX_SIZE=1000M

HOPR_ADMIN_CONTAINER_IMAGE=europe-west3-docker.pkg.dev/hoprassociation/docker-images/hopr-admin:latest

HOPR_ADMIN_PORT=3000

HOPR_ADMIN_MEM_LIMIT=256M

METRICS_CADVISOR_IMAGE=gcr.io/cadvisor/cadvisor:v0.47.2@sha256:78cf73632de30193dc249923fdfdb1d43ee7cfccbf64662991de89ff7c4b1fda
METRICS_CADVISOR_PORT=9093

METRICS_NODE_EXPORTER_IMAGE=prom/node-exporter:v1.7.0@sha256:4cb2b9019f1757be8482419002cb7afe028fdba35d47958829e4cfeaf6246d80
METRICS_NODE_EXPORTER_PORT=9100

# necessary to change the NODE_REFERENCE_HERE to a unique identifier and trusted URL (staging and testing purposes)
METRICS_PUSH_URL=https://prometheus-pushgateway.staging.hoprnet.link/metrics/job/<NODE_REFERENCE_HERE>
# for non docker based runs replace the push source with an API URL
METRICS_PUSH_SOURCE=http://hoprd:3001/api/v3/metrics

PROMETHEUS_IMAGE=prom/prometheus:v2.49.1@sha256:d55cb26ce61c789179cd50fba2f11085424c73cbbabed561a3c2248ca12eb6ec
PROMETHEUS_PORT=9090
# relative to the docker-compose.yml file
# docker based hoprd node: ./prometheus/prometheus.yml
# binary hoprd node: ./prometheus/prometheus.local-dev.yml
PROMETHEUS_CONFIG_FILE=./prometheus/prometheus.yml

GRAFANA_IMAGE=grafana/grafana:10.3.1@sha256:1adbcc2df3866ff5ec1d836e9d2220c904c7f98901b918d3cc5e1118ab1af991
GRAFANA_PORT=3030