DOCKER_PLATFORM=linux/amd64

#### HOPRD Configuration ####

# Hoprd docker image name
HOPRD_IMAGE=europe-west3-docker.pkg.dev/hoprassociation/docker-images/hoprd:stable

# Hoprd node memory request and limit
HOPRD_MEM_REQUEST=1g
HOPRD_MEM_LIMIT=2g

# Hoprd ports. The P2P port is the one that the node uses to communicate with other nodes and needs to be open to the internet.
# The node needs to be aware of its P2P port while it does not need to know its public API port.
HOPRD_API_PORT=3001
HOPRD_P2P_PORT=9091

# Hoprd log level and max size
HOPRD_LOG_LEVEL="info,libp2p_swarm=info,libp2p_mplex=info,multistream_select=info,isahc=error,sea_orm=warn,sqlx=warn,hyper_util=warn,libp2p_tcp=info,libp2p_dns=info,hickory_resolver=warn"
HOPRD_LOG_MAX_SIZE=1000M

#### HOPR Admin Tool Configuration ####

# Hopr Admin tool image name
HOPR_ADMIN_IMAGE=europe-west3-docker.pkg.dev/hoprassociation/docker-images/hopr-admin:stable

# Hopr Admin tool port
HOPR_ADMIN_PORT=4677

# Hopr Admin tool memory request and limit
HOPR_ADMIN_MEM_REQUEST=256M
HOPR_ADMIN_MEM_LIMIT=256M


#### Tracing Configuration ####
JAEGER_IMAGE=jaegertracing/all-in-one:latest

HOPRD_USE_OPENTELEMETRY=true
OTEL_SERVICE_NAME=hoprd
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317/

#### Monitoring Configuration ####

# cAdvisor image name
METRICS_CADVISOR_IMAGE=gcr.io/cadvisor/cadvisor:v0.49.1

# cAdvisor listening port
METRICS_CADVISOR_PORT=9093

# Node exporter image name
METRICS_NODE_EXPORTER_IMAGE=prom/node-exporter:v1.7.0

# Node exporter listening port
METRICS_NODE_EXPORTER_PORT=9100

# Prometheus Pushgateway endpoint
# necessary to change the `<NODE_NAME_FOR_GRAFANA>`, `<NODE_PEER_ID>`, `<MY_NAMESPACE>` (e.g. uhttp, team-node etc.) and <NODE_NATIVE_ADDRESS> to a your nodes identifiers staging and testing purposes)
METRICS_PUSH_URL=https://prometheus-pushgateway.staging.hoprnet.link/metrics/job/<NODE_NAME_FOR_GRAFANA>/hoprd_peer_id/<NODE_PEER_ID>/namespace/<MY_NAMESPACE>/hoprd_network/rotsee/hoprd_address/<NODE_NATIVE_ADDRESS>


# Prometheus image name
PROMETHEUS_IMAGE=prom/prometheus:v2.49.1

# Prometheus listening port
PROMETHEUS_PORT=9090

# Relative path from the docker-compose.yml file to the Prometheus configuration file
PROMETHEUS_CONFIG_FILE=./prometheus/prometheus.yml

# Grafana image name
GRAFANA_IMAGE=grafana/grafana:10.3.1

# Grafana listening port
GRAFANA_PORT=3030
