.container {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--hopr-grey);
  background-color: var(--hopr-white);
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
