.container {
  display: flex;
  height: 5vh;
  border-top: 2px solid var(--hopr-dark-blue);
}

.container > *:not(:last-child) {
  margin-right: 10px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
