.main-table {
  color: $black;
  font-size: 13px;
}

.box-container-table {
  overflow: scroll;
  table {
  }
}

table {
  border-collapse: separate;
  thead {
  }
  tr {
    height: 34px;
  }
  .rc-table-cell {
    width: fit-content;
  }
}
