.special-table-top {
  table tbody tr {
    &:first-child {
      span {
        img {
          opacity: 1;
        }
      }
    }
    span {
      margin-right: 0.89em;
      img {
        opacity: 0.34;
      }
    }
  }
}
