body {
    font-size: 20px;
}

.size1 {
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 0 auto;
  }
  .size2 {
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    font-size: 25px;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 0 auto;
  }
.size3 {
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 200;
    line-height: 30px;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 0 auto;
  }
  .ascii-art{
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 600;
    font-size: 4px;
    line-height: 1;
    white-space: pre;
  }
  .button {
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    line-height: 1;
    margin: 10 10;
  }
  .button:hover {
    background-color: #f0f0f0;
  }
  .blink {
    animation: blinker 3s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  a:hover, a:visited, a:link, a:active
  {
    text-decoration: none;
    color: #000000;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
  }

  @media (min-resolution: 300dpi) {
    body {
        font-size: 40px;
    }
    .ascii-art{
        font-size: 4px;
      }
}
