@charset "UTF-8";

body {
    font-size: 20px;
}

.size1 {
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    width: 500px;
    margin: 0 auto 0 auto;
  }
  .size2 {
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    width: 500px;
    margin: 0 auto 0 auto;
  }
.size3 {
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 200;
    line-height: 30px;
    width: 500px;
    margin: 0 auto 0 auto;
  }
  .ascii-art{
    color: "#000000";
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 200;
    font-size: 3px;
    white-space: pre;
  }

  @media (min-resolution: 300dpi) {
    body {
        font-size: 40px;
    }
    .ascii-art{
        font-size: 4px;
      }
}
