.clients {
  .section-inner {
    .header {
      padding-bottom: 24px;
    }

    .question {
      padding-top: 24px;
      text-align: center;
    }
  }
}

.clients-inner {
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  li {
    padding: $clients-items--padding-v $clients-items--padding-h;
  }
}

@include media('>medium') {
  .clients {
    .section-inner {
      .header {
        padding-bottom: 40px;
      }

      .question {
        padding-top: 40px;
      }
    }

    .clients-inner {
      ul {
        flex-direction: row;
      }
    }
  }
}
