.contact-tabs {
  .section-inner {
    padding-top: $contact-tabs--padding-t__mobile;
    padding-bottom: $contact-tabs--padding-b__mobile;
  }

  .section-header {
    padding-bottom: $contact-tabs-header--padding__mobile;
  }

  .tab-list {
    margin-top: -$contact-tabs-item--padding-v;
    margin-bottom: -$contact-tabs-item--padding-v !important;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: initial;
    padding-bottom: $contact-tabs-list--padding-b;

    &::after {
      content: normal;
    }
  }

  .tab {
    flex-direction: column;
    opacity: 0.48;
    border: initial;
    padding-top: $contact-tabs-item--padding-v;
    padding-bottom: $contact-tabs-item--padding-v;
    padding-left: $contact-tabs-item--padding-h;
    padding-right: $contact-tabs-item--padding-h;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 0.72;
    }

    &.is-active {
      opacity: 1;
    }
  }

  .tab-panel {
    padding-left: $contact-tabs-panel--padding-h;
    padding-right: $contact-tabs-panel--padding-h;
    padding-top: $contact-tabs-panel--padding-v;
    padding-bottom: $contact-tabs-panel--padding-v;
    opacity: 0;
    visibility: hidden;
    will-change: transform;

    &.is-active {
      opacity: 1;
      visibility: visible;
      animation: tabsPanelIn 0.5s ease 0.15s both;
    }
  }
}

@include media('>medium') {
  .contact-tabs {
    .section-inner {
      padding-top: $contact-tabs--padding-t__desktop;
      padding-bottom: $contact-tabs--padding-b__desktop;
    }

    .section-header {
      padding-bottom: $contact-tabs-header--padding__desktop;
    }
  }
}

@keyframes tabsPanelIn {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
