[Unit]
Description=Hoprd Node
After=network.target

[Service]
EnvironmentFile=/etc/hoprd/hoprd.env
ExecStart=/usr/bin/hoprd --configurationFilePath /etc/hoprd/hoprd.cfg.yaml
Restart=on-failure
User=hoprd
Group=hoprd

[Install]
WantedBy=multi-user.target
