.container {
  padding: 0.5rem;
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  max-width: 25rem;
  flex-grow: 0;
  text-align: left;
  margin: 0 1rem;
  line-height: 1.15;
  font-size: 2rem;
}

.stats {
  font-size: 2rem;
  flex-grow: 1;
  text-align: right;
}
.stats h2 {
  margin: 0;
  font-size: 2rem;
}

.main {
  display: flex;
}

.main section {
  font-size: 1.5rem;
  border: 1px solid #333;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  max-width: 40rem;
  overflow: scroll;
  height: 75vh;
}
.main h2 {
  text-align: center;
  margin: 0;
}
.main li {
  padding-bottom: 1rem;
}

.conerr {
  text-align: center;
  color: red;
}

.connode {
  padding: 0.5rem;
}
.connode span {
  display: inline-block;
  padding: 0 0 0 2rem ;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  text-align: center;
  padding: 1rem;
}

.address {
  cursor:pointer;
  display: block;
  text-align: center;
  padding: 1rem;
}
          
.address:hover {
  background-color: #FFFFA0;
}
