@keyframes bounceCircle {
  0% {
    opacity: 1;
    transform: translate(0%, 50%) scale(0.5);
  }
  15% {
    opacity: 1;
    transform: translate(0%, 50%) scale(0.5);
  }
  30% {
    opacity: 1;
    transform: translate(20%, 0%) scale(0.25);
  }
  45% {
    opacity: 1;
    transform: translate(40%, 50%) scale(0.25);
  }
  60% {
    opacity: 1;
    transform: translate(60%, 0%) scale(0.1);
  }
  75% {
    opacity: 1;
    transform: translate(80%, 50%) scale(0.025);
  }
  100% {
    opacity: 0;
    transform: translate(80%, 100%) scale(0.005);
  }
}

@keyframes slideCircle {
  0% {
    opacity: 1;
    transform: translate(0%, 0%) scale(0.3);
  }
  50% {
    opacity: 1;
    transform: translate(40%, 50%) scale(0.3);
  }
  60% {
    opacity: 1;
    transform: translate(40%, 50%) scale(0.3);
  }
  95% {
    opacity: 1;
    transform: translate(100%, 20%) scale(0.3);
  }
  100% {
    opacity: 0;
    transform: translate(100%, 0%) scale(0.3);
  }
}

@mixin bounceAnimation() {
  transform-origin: center center;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: bounceCircle;
}

@mixin slideAnimation() {
  transform-origin: center center;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: slideCircle;
}

.hoprCircle {
  position: absolute;
  margin-left: -50%;
  left: 50%;
  opacity: 0;
  z-index: 15;

  .container {
    fill: $hopr_yellow;
  }
}

.hoprCircleAnimation {
  @include media('>=medium') {
    @include bounceAnimation();
  }

  @include media('<=small') {
    @include slideAnimation();
  }
}
