.box {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }
}

.box {
  padding: 1em 0 0 0;
  border: 1px solid $grey;
  border-radius: 8px;
  background: #fff;
  box-shadow: $shadow;
  overflow: hidden;
  @media (min-width: 767px) {
    display: block;
    width: 55vw;
    height: fit-content;
    overflow: hidden;
    margin: 0 1em;
    box-sizing: border-box;
  }
}

.box {
  hr {
    margin: 1em 0 1em 0;
    height: 0.02em;
    background: #e3e3e3;
    border: 0;
  }
}

.box-border {
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  & > div {
    width: 50%;
    padding: 1em 2em;
    box-sizing: border-box;
    &:first-child {
      border-right: 0px solid #e3e3e3;
    }
    &:last-child {
      border-left: 1px solid #e3e3e3;
    }
    h3,
    p {
      padding: 0;
      margin: 0;
    }
    h3 {
      font-size: 1em;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      color: $black;
      font-size: 0.89em;
      font-weight: 600;
    }

    &:nth-child(even) {
      h3 {
        color: $blue;
      }
    }
    &:nth-child(odd) {
      h3 {
        color: $green;
      }
    }
  }
}

.box-info {
  text-align: center;
  p {
    color: #dadada;
    font-size: 1em;
    font-weight: 400;
    span {
      color: $black;
      font-size: 0.89em;
      font-weight: 600;
    }
  }
}

// MAIN INFO
.box .box-top-area {
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    h1 {
      font-size: 1.21em;
      font-weight: 600;
      color: $black;
      @media (min-width: 767px) {
        font-size: 1.4em;
      }
    }
    .box-btn {
      button {
        border: 0;
        border-radius: 3px;
        background: $white-alt;
        color: $black;
        padding: 0.44em 0.55em;
        border: 1px solid $grey;
        font-weight: 600;
        font-size: 1em;
        cursor: pointer;
        transition: all 350ms ease-in-out;
        img {
          margin-right: 0.5em;
          transition: all 400ms;
        }
        &:focus {
          outline-color: transparent;
          img {
            transform: rotate(360deg);
            transition: all 400ms;
          }
        }
        &:hover {
          background: #ebebeb;
          color: $greyLabel;
          transition: all 350ms ease-in-out;
        }
      }
    }
  }
}

.table-esp-data {
  display: flex;
  justify-content: space-between;
  background: #f6f7f9;
  margin: 0 0 1em 0;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.44em;
      box-sizing: border-box;
      overflow: hidden;
      background: #fff;
      height: 55px;
      width: 110px;
      border: 1px solid $grey;
      border-radius: 8px;
    }
    span {
      font-weight: 700;
      font-size: 1em;
    }
    p {
      margin-top: 0.21em;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 0.88em;
      color: $black;
      letter-spacing: 0;
    }
  }
}

.box .box-main-area {
  padding: 0 1em;
  overflow: hidden;
  ol li {
    line-height: normal;
    margin-bottom: 0.55em;
    color: $black;
    a {
      text-decoration: none;
      position: relative;
      color: #50a8e7;
      img,
      span {
        position: relative;
        transition: all 450ms ease-in-out;
      }
      &::before {
        background-color: #f7f7f7;
        content: "";
        height: 100%;
        position: absolute;
        width: 0%;
        transition: all 350ms ease-in-out;
      }
      &:hover {
        span {
          transition: all 450ms ease-in-out;
        }
        &::before {
          width: 100%;
          transition: all 350ms ease-in-out;
        }
      }
    }
  }
  p {
    color: $black;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 400;
    @media (min-width: 767px) {
      font-size: 1.05em;
      line-height: 1.89em;
    }
  }
  .quick-code {
    margin: 0.5em 0;
    .hash {
      padding: 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-size: 0.8em;
      }
      img {
        width: 1em;
        cursor: pointer;
      }
    }
    @media (min-width: 767px) {
      .hash {
        padding: 0.7em;
        justify-content: space-between;
        p {
          font-size: 1em;
          font-weight: 600;
          letter-spacing: 0.55px;
        }
        img {
          width: 1em;
          filter: invert(0);
          transform: translateX(0%);
          transition: all 350ms ease-in-out;
          &:hover {
            filter: invert(1);
            transform: translateX(-100%);
            transition: all 350ms ease-in-out;
          }
        }
      }
    }
  }
  .twitter-line-menu {
    margin-bottom: 1em;
    & > div {
      a {
        img {
          filter: grayscale(1);
          opacity: 0.3;
        }
      }
    }
  }
}

.box-main-area .box-container-table {
  padding: 0 !important;
  height: 700px;
  @media (min-width: 767px) {
    height: 500px;
    position: relative;
  }
  overflow: auto;
}

.box-coming-soon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 400px;
  img {
    width: 250px;
    filter: grayscale(1) opacity(0.5);
  }
  p {
    color: #ccc !important;
    font-size: 1.5em !important;
    text-transform: lowercase !important;
    letter-spacing: 0.5px !important;
  }
}

