body {
  font-family: "Nunito", sans-serif;
  background: $white-alt;
}

.aux-add-top{
  margin-top: 1em;
}
.remove-all-padding{
  padding: 0!important;
}

//
.only-mobile-view {
  @media (min-width: 767px) {
    display: none !important;
  }
}
.only-desktop-view {
  display: none;
  @media (min-width: 767px) {
    display: block;
  }
}
//

.main-container {
  box-sizing: border-box;
  margin: auto;
  display: block;
  width: 90%;
  @media (min-width: 767px) {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-top: 5vh;
  }
}

.menu-container {
  margin: auto;
  left: 3%;
  right: 3%;
  position: absolute;
}

// TEXT
p.paragraph-copy {
  font-size: 0.9em;
  letter-spacing: 0.01em;
  text-align: center;
  color: #414141;
  font-weight: 200;
  span {
    font-weight: 600;
  }
}
p.paragraph {
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.01em;
  line-height: 1.5em;
  text-align: left;
  color: #414141;
  span {
    font-weight: 700;
  }
}

//
hr {
  margin: 3vh 0;
  height: 0.02em;
  background: #e3e3e3;
  border: 0;
  @media (min-width: 767px) {
    margin: 1vh 0;
  }
}

hr.hr-alert {
  margin: 1em 0 0.5em 0;
  height: 0.02em;
  background: #e3e3e3;
  border: 0;
}

//
.icon-logo-desktop {
  width: 90%;
  margin: auto;

  a{
    img {
      width: 8em;
      margin-top: 2em;
      transition: all 350ms ease-in-out;
    }
    &:hover{
      img{
        transition: all 350ms ease-in-out;
        filter: grayscale(1);
        opacity: 0.5;
      }
    }
  }
}


//

a.aux-help-twitter{
  display: flex;
  align-items: center;
  text-decoration: none;
  p,span{
    margin: 0;
    padding: 0;
  }
  p{
    line-height: normal!important;
    color: #50A8E7!important;
    transition: all 350ms ease-in-out;
  }
  span{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: $black;
    transition: all 350ms ease-in-out;
  }
  &:hover{
    p{
      color: $black!important;
      transition: all 350ms ease-in-out;
    }
    span{

      color: #50A8E7;
      transition: all 350ms ease-in-out;
    }
  }
  &>div{
    &:first-child{
      margin-right: 1em;
    }
  }
}