.menu-desktop {
  width: 300px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-wrap: wrap;
  & > div {
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    a {
      text-decoration: none;
      text-align: center;
    }
    img {
      width: 2em;
      height: 2em;
      margin-bottom: 1em;
      filter: grayscale(1);
      opacity: 0.1;
      transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    p {
      text-align: center;
      padding: 0;
      margin: 0;
      color: #e3e3e3;
      transition: all 350msqq cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    &:nth-last-child(3) {
      border-left: 0.05px solid #e3e3e3;
      border-bottom: 0.05px solid #e3e3e3;
    }
    &:nth-last-child(2) {
      border-top: 0.05px solid #e3e3e3;
      border-right: 0.05px solid #e3e3e3;
    }
    &:hover {
      img {
        filter: grayscale(0);
        opacity: 0.5;
        transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
      p {
        padding: 0;
        margin: 0;
        color: #979595;
        transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
    }
    &.active {
      border-radius: 8px;
      background: #fff;
      box-shadow: $shadow;
      transform: scale(1.06);
      transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      img {
        filter: grayscale(0);
        opacity: 1;
      }
      p {
        color: $black;
      }
    }
  }
}
