.menu-mobile {
  background: #fff;
  top: 0;
  display: none;
  left: 0;
  height: 100%;
  z-index: -1;
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(100%);
  & > div {
    margin-top: 5em;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 1.5em;
      transition: all 350ms ease-in-out;
      p {
        color: $black;
        font-weight: 600;
        padding: 0;
        margin: 0;
        opacity: 0.64;
        letter-spacing: 0.03em;
        font-size: 1.13em;
        text-transform:lowercase;
        transition: all 350ms ease-in-out;
      }
      img {
        width: 1em;
        height: 1em;
        margin-right: 1em;
        filter: grayscale(1);
        opacity: 0.34;
        transition: all 350ms ease-in-out;
      }
      &.active {
        transition: all 350ms ease-in-out;
        p {
          opacity: 1;
          transition: all 350ms ease-in-out;
        }
        img {
          transition: all 350ms ease-in-out;
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
  }
}

.open-menu {
  transition: transition 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translateX(0%);
  display: block;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.quick-code {
  & > p {
    text-transform: uppercase;
    font-weight: 600;
    color: #bcbcbc;
    font-size: 0.89em;
  }
}
.hash {
  background: $white-alt;
  padding: 0.034em 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    color: $black;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    width: 1.2em;
  }
}

.twitter-line-menu {
  display: flex;
  justify-content: space-around;
  & > div {
    a {
      display: inline-flex;
      text-decoration: none;
      color: $greyLabel;
      img {
        margin-right: 0.5em;
      }
      p {
        padding: 0;
        margin: 0;
        transition: all 350ms ease-in-out;
        font-weight: 400;
        font-size: 1em;
      }
      &:hover {
        p {
          transition: all 350ms ease-in-out;
          color: #00acee;
        }
      }
    }
  }
}

.help-area {
  .twitter-line-menu {
    justify-content: flex-start;
  }
}
