.area-remember {
  background: #fafafa;
  box-shadow: 1px -2px 5px 0px #0000001f;
  padding: 1em;
  border-top: 0.5px solid #e3e3e359;
  & > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    @media (min-width: 767px) {
      flex-direction: row;
    }
  }
  .area-links-remember {
    display: flex;
    width: 100%;
    justify-content: space-around;
    @media (min-width: 767px) {
      width: fit-content;
    }
  }
  p {
    color: $black !important;
    font-size: 1em !important;
    font-weight: 400 !important;
    letter-spacing: -0.5px !important;
    text-align: center;
    line-height: normal;
    margin-bottom: 0.89em;
    @media (min-width: 767px) {
      margin-bottom: 0;
      text-align: start;
    }
  }
  a {
    display: flex;
    text-decoration: none;
    img {
      width: 1em;
      margin: 0 0.5em;
      opacity: 0.5;
      filter: grayscale(1);
      transition: all 350ms ease-in-out;
    }
    span {
      color: $black !important;
      font-size: 1em !important;
      font-weight: 600 !important;
      transition: all 450ms ease-in-out;
    }
    &:hover {
      span {
        color: #50a8e7 !important;
        transition: all 450ms ease-in-out;
      }
      img {
        opacity: 1;
        filter: grayscale(0);
        transition: all 350ms ease-in-out;
      }
    }
  }
}
