.container-search-bar {
  padding: 0.64em !important;
  margin-top: 1em;
  margin-bottom: 1.34em;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  background: #f7f7f7;
  width: 100%;
}

p.help-total-results{
  font-weight: 400;
  margin-bottom: 0.34em;
  font-size: 13px;
  color: #dadada;
  span {
    font-weight: 600;
    color: $greyLabel;
  }
}
input.search {
  border: 1px solid $grey;
  border-radius: 4px;
  outline: 0;
  box-sizing: border-box;
  padding: 0 0.5em;
  height: 44px;
  width: 100%;
  color: $greyLabel;
  transition: all 200ms ease-in-out;
  &::placeholder {
    color: $grey;
  }
  &:focus,
  &:active {
    outline: 0;
    border: 1px solid $colorLink;
    transition: all 200ms ease-in-out;
  }
}

// aux-super-tab

.aux-super-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  background: #f7f7f7;
  margin-top: 1em;
  .data-form {
    width: 60%;
    height: 52px;
  }
  input.search {
    width: 100%;
    height: 34px;
  }
  .data-additional {
    display: flex;
    height: 52px;
    & > div {
      background: #fff;
      border: 1px solid $grey;
      border-radius: 4px;
      margin-right: 1em;
      padding: 0.3em 1em;
      box-sizing: border-box;
      &:last-of-type {
        margin-right: 0;
      }
      span {
        font-weight: 600;
        color: $black;
      }
      p {
        margin-top: 0.34em;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 0.88em;
        color: $greyLabel;
        letter-spacing: 0;
      }
    }
  }
}
