section.aux-margin {
  overflow: hidden;
  margin-top: 1.5em;
}

section.area-left-desktop {
  width: 303px;
  .copy-line-token{
    margin-top: 1em;
    h4{
      padding: 0;
      margin: 0;
      color: $grey;
      font-weight: 400;
      margin-bottom: 0.1em;
    }
    .hash{
      margin: 0;
      padding: 0;
      justify-content: flex-end;
      flex-direction: row-reverse;
      cursor: pointer;
      p{
        transition: all 450ms ease-in-out;
        color: $greyLabel;
        font-weight: 500;
        font-size: 1em;
        width: 100px;
      }
      img{
         transition: all 350ms ease-in-out;
         margin-right: 0.5em;
      }
      &:hover{
        p{
          color: darken($greyLabel, 17);
          transition: all 450ms ease-in-out;
        }
        img{
          transition: all 350ms ease-in-out;
          filter: brightness(0.5);
          opacity: 1;
        }
      }
    }
  }
  .twitter-line-menu {

    flex-direction: column;
    & > div {
      margin: 0.5em 0;
      a {
        img {
          filter: grayscale(1);
          opacity: 0.3;
          transition: all 350ms ease-in-out;
        }
        p {
          font-size: 1em;
        }
        &:hover {
          img {
            transition: all 350ms ease-in-out;
            filter: grayscale(0);
            opacity: 1;
          }
        }
      }
    }
  }
}

section.right-side {
  overflow: hidden;
  width: 300px;
  .paragraph {
    font-size: 0.98em;
    margin: 0;
    text-align: justify;
  }
  .box-border {
    width: 100%;
    border: 0;
    & > div {
      width: 100%;
      padding: 0.5em;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
      border: 0;
      h3 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        text-align: end;
      }
      p {
        font-size: 1em;
      }
    }
  }

  .box-info {
    text-align: end;
    & > div {
      p {
        span {
          width: 70%;
        }
      }
    }
  }
}
