.main-table {
  color: $black;
  font-size: 13px;
}

.box-container-table {
  overflow: scroll;
}

table {
  border: 1px solid transparent;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table thead tr {
  th {
    font-weight: 400;
    font-size: 1em;
    text-transform: lowercase;
    color: #cbcccf;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    &.asc {
      color: $blue;
      font-weight: 600;
      &::before {
        content: '▾';
        margin-right: 0.4em;
        color: $blue;
      }
    }
    &:hover {
      color: $blue;
      transition: all 350ms ease-in-out;
    }
  }
}

thead tr {
  border-top: 0.5px solid #e3e3e359 !important;
  background: #f7f7f796 !important;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  border-top: 0.5px solid #e3e3e359;
  border-bottom: 0.5px solid #e3e3e359;
  border-left: 0px !important;
  border-right: 0px !important;
  padding: 0.35em;
  &:first-child {
    border-top: 0.5px solid transparent;
  }
  &:nth-child(even) {
    background: #f7f7f796;
  }
  &:nth-child(odd) {
    background: white;
  }
  td {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $black;
    justify-content: space-between;

    &[data-label='online'] {
      flex-direction: row-reverse;
    }
    &[data-label='address'] {
      overflow: scroll;
      flex-direction: column !important;
    }

    &[data-label='id'] {
      overflow: scroll;
      flex-direction: column !important;
      //
      @media (min-width: 767px) {
        &::before {
          content: attr(data-raw);
          transition: all 300ms ease-in-out;
        }
        &:hover {
          &::before {
            opacity: 1;
            position: absolute;
            transform: translateY(-100%);
            background: #0c00a1;
            width: fit-content;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
            box-sizing: border-box;
            color: #fff;
            padding: 0.5em;
            border-radius: 2px;
            transition: all 300ms ease-in-out;
          }
        }
      }
    }

    @media (min-width: 767px) {
      justify-content: center;
      flex-direction: row;

      display: table-cell;
      &[data-label='address'],
      &[data-label='id'] {
        overflow: hidden;
      }
      &[data-label='online'] {
        flex-direction: row;
      }
    }
    &[data-type='score'] {
      color: #331cfa;
      font-weight: 600;
    }
    img {
      transition: all 350ms ease-in-out;
      &:hover {
        filter: grayscale(1);
        transition: all 350ms ease-in-out;
      }
    }
  }
}

#date thead tr {
  th {
    border-top: 0.5px solid #e3e3e359 !important;
  }
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 0px;
    display: block;
    margin-bottom: 0em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  table td {
    &[data-label='address'],
    &[data-label='id'] {
      &::before {
        margin-bottom: 0.34em;
      }
    }
    &[data-label='id'] {
      font-size: 10px;
      
    }
  }

  table td:last-child {
    border-bottom: 0;
  }
}

//
.table-link-on {
  text-decoration: none;
  background: #fff;
  border: 0.5px solid #ebebeb;
  border-radius: 4px;
  padding: 0.27em;
  color: $colorLink;
  line-height: normal;
  transition: all 350ms ease-in-out;
  &:hover {
    color: $black;
    transition: all 350ms ease-in-out;
  }
}
