.main-table {
  color: $black;
  font-size: 13px;
}

.box-container-table {
  overflow: scroll;
}

table {
  border: 1px solid transparent;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table thead tr {
  th {
    
    font-weight: 400;
    font-size: 1em;
    text-transform: lowercase;
    color: #cbcccf;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    &.asc{
      color: $blue;
      font-weight: 600;
      &::before{
        content: "▾";
        margin-right: 0.4em;
        color: $blue;
        
      }
    }
    &:hover{
      color: $blue;
      transition: all 350ms ease-in-out;
    }
  }
}



table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  border-top: 0.5px solid #e3e3e359;
  border-bottom: 0.5px solid #e3e3e359;
  border-left: 0px!important;
  border-right: 0px!important;
  padding: 0.35em;
  &:first-child{
    border-top: 0.5px solid transparent;
  }
  &:nth-child(even) {
    background:white ;
  }
  &:nth-child(odd) {
    background: #f7f7f796;
  }
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $black;
    &[data-type="score"] {
      color: #331cfa;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img{
      transition: all 350ms ease-in-out;
      &:hover{
        filter: grayscale(1);
        transition: all 350ms ease-in-out;
      }
    }
  }
}

#date thead tr{
  th{
    border-top: 0.5px solid #e3e3e359!important;
  }
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
