// Colors
$yellow: #fdffa0;
$black: #414141;
$grey: #DBDBDB;
$greyLabel: #9e9e9e;
$white-alt: #f7f7f7;
$green: #00b348;
$blue: #331cfa;
$colorLink: #50a8e7;
// shadow
$shadow: 0 7px 30px -10px rgba(150,170,180,0.34);
