// Colors
$yellow: #fdffa0;
$black: #414141;
$grey: #e3e3e3;
$greyLabel: #c4c4c4;
$white-alt: #f7f7f7;
$green: #00b348;
$blue: #331cfa;
$colorLink: #50a8e7;
// shadow
$shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
