html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  padding: 1rem;
}

a {
  color: #0000b4;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}
