.intro {
  font-size: 1.4rem;
  margin: auto;
  padding: 2rem;
}

.score {
  color: green;
  font-size: 2rem;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.padBottom {
  padding-bottom: 2rem;
}

.main section {
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem;
  overflow: scroll;
  flex: 1 1;
  max-height: 75vh;
}
.main h2 {
  text-align: center;
  margin: 0;
}
.main li {
  padding-bottom: 1rem;
}

.conerr {
  text-align: center;
  color: red;
}

.connode {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}

.connode strong {
  font-size: 1.2rem;
  overflow: ellipsis;
  overflow-wrap: anywhere;
}

.connode span,
.connode a {
  padding: 0 0 0 1rem;
}

.addr {
  font-size: 1rem;
}

.address {
  cursor: pointer;
  display: flex;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  overflow-wrap: anywhere;
  justify-content: space-around;
}

.address:hover {
  background-color: #ffffa0;
}

.address:active {
  background-color: white;
}
