.underline {
  text-decoration: underline !important;
}

.sticky {
  position: fixed !important;
}

.img-to-white {
  filter: brightness(0) invert(1);
}

.img-to-grey {
  filter: brightness(0) invert(0.3);
}

.img-to-black {
  filter: contrast(0) !important;
}

.quote {
  font-style: italic;
}
.quote:before,
.quote:after {
  content: '"';
}

.whole-page {
  min-height: 100vh;
}
