// The color palette
$palette: (
  light: (
    1: #ffffff,
    2: #f9fafc,
    3: #e9ecf8,
  ),
  dark: (
    1: #5f0220,
    2: #af2f58,
    3: #e9ecf8,
  ),
  primary: (
    1: #5f0220,
    2: #af516f,
    3: #af516f,
    4: #e9ecf8,
  ),
  secondary: (
    1: #e9ecf8,
    2: #af516f,
    3: #af516f,
    4: #005a73,
  ),
  alert: (
    error: #ff6f66,
    warning: #ffcd6e,
    success: #2e9ab9,
  ),
);

@import './style.scss';
