.popup {
  background-color: #000050;
  border: 1rem solid #0000b4;
  position: fixed;
  padding: 1rem 3rem;
  top: 15vw;
  left: 15vw;
  right: 15vw;
  max-height: 50vh;
  overflow-y: scroll;
}

.popup h2 {
  text-align: center;
}

.peer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.peerIcon {
  display: block;
  padding: 0.1rem;
}

.cogwheelIcon:hover {
  cursor: pointer;
}

.titleIcons {
  display: inline-flex;
  align-items: center;
}

.healthIndicator {
  font-size: 1rem;
  margin-left: 1rem;
  cursor: default;
}

.healthIndicatorTooltip {
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.configuration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.configuration div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}
