.logs {
  display: block;
  border: 1px solid #3c64a5; /* Steel Blue */
  background-color: #b4f0ff; /* Sky Blue */
  color: #000050; /* Dark Blue */
  padding: 1rem;
  margin: 0;
  position: fixed;
  top: 4rem;
  bottom: 5rem;
  left: 2rem;
  right: 2rem;
  overflow-y: scroll;
}
.connecting {
  background-color: #ffffa0; /* HOPR Yellow */
  color: red;
}

.logline {
  display: flex;
  justify-content: space-between;
}

.logline time {
  font-size: 0.7rem;
  display: block;
  opacity: 0.3;
  text-align: right;
  order: 2;
  flex: 0;
}

.logline pre {
  padding: 0.2rem;
  margin: 0;
  order: 1;
  flex: 1;
}

.loglineicons {
  width: 15px;
  height: 15px;
  flex: 0 0 auto;
}

.logId {
  cursor: pointer;
  font-weight: bold;
}
