.logo {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}

.logo:hover {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #ffffa0;
  transition: box-shadow 0.6s;
}
