#how {
  .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    .column {
      width: 40%;
    }
  }
}

@include media('<large') {
  #how {
    .container {
      flex-direction: column;

      .column {
        width: 100%;
      }
    }
  }
}
