.features-tabs-tab-image {
  display: inline-flex;
  border-radius: 50%;
  background: linear-gradient(0deg, get-color(primary, 1) 0, get-color(primary, 2) 100%);
  box-shadow: 0 2px 4px rgba(get-color(dark, 1), 0.32);
}

.features-tabs-tab-image img {
  width: 45px;
  height: 45px;
  margin: 15px !important;
  filter: invert(1);
}

.features-tabs-inner .tab-list {
  justify-content: space-evenly !important;
}

.features-tabs-inner .tab-list .tab {
  width: 180px;
}
