.features-tiles-item-image {
  display: inline-flex;
  border-radius: 15%;
  background: linear-gradient(0deg, get-color(primary, 1) 0, get-color(primary, 2) 100%);
  box-shadow: 0 2px 4px rgba(get-color(dark, 1), 0.12);
}

.features-tiles-item-image img {
  width: 45px;
  height: 45px;
  margin: 15px !important;
  filter: invert(1);
}
