.underline {
  text-decoration: underline !important;
}

.sticky {
  position: fixed !important;
}

.img-to-white {
  filter: brightness(0) invert(1);
}

.img-to-black {
  filter: contrast(0) !important;
}

.quote {
  font-style: italic;
}
.quote:before,
.quote:after {
  content: '"';
}
