.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  color: var(--hopr-white);
  background-color: var(--hopr-dark-blue);
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cogwheel {
  font-size: 30px;
}
